<header class="navbar">
  <a class="brand" routerLink="/landing">PrintLab 3D</a>

  <nav class="links">
    <a routerLink="/landing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Registro</a>
    <a routerLink="/client/dashboard" routerLinkActive="active">Cliente</a>
    <a routerLink="/admin/dashboard" routerLinkActive="active">Admin</a>
  </nav>
</header>
